.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #7695c7;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #000000;
  font-size: 8rem;
  color: #cc9a4e;
}

p {
  font-size: 2rem;
  color: #bb1f60;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #b94a4a;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
